<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOT-Messages</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="assets/images/logo.ico" type="image/x-icon">
    
</head>
<body>
    
    <main class="container-fluid">
    <div class="row">
        <div id="chat_list" class="col-3 overflow-auto">
       <h4 class="pt-3" style="color: white;">Chats </h4>
        <hr >
       <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize"> <i class="fab fa-amazon"></i> amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon mt-3 mb-3 Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
          <!-- card -->
       <div class="card  mt-3 mb-3" >
        <div class="card-body">
         
          <div class="d-flex justify-content-between ">
            <h5  class="card-title text-capitalize">amazon Support</h5>
            <small class="text-muted text-end ">17/08/1998</small>
          </div>
          <p class="card-text text-start text-truncate"   >Last Message that Was Sent Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nulla eius dolorem expedita blanditiis eos non rem reiciendis, consequatur rerum consectetur inventore esse officiis culpa. Cumque ullam recusandae cum. Voluptatibus.</p>
        </div>
        </div>
        <!-- card -->
        </div>

        <div id="chat" class="col-9">
          <div class="d-flex flex-column  align-items-center  ">
            <div id="chat_header"  class="w-75"> 
              <h4>  Hello world </h4>
              <hr class="w-100">
            </div>
            <div id="chat_body" class="w-75" >
              <div class="float-left">
                <p>Message a </p>
              </div>
              <div class="float-right">
                <p>Message a </p>
              </div>

            </div>
            <div id="chat_footer" class="w-75">
              <hr class="w-100" >
              aaaaa
            </div>
          </div>
        </div>
    </div>
</main>
<div class="container-fluid  ">
    <div class="row pt-2 ">
        <div class="col-12 text-white d-flex justify-content-between  " id='footer'>
            <h6 class="footer_text"> This application is created by <a href="mailto:webmaster@example.com">  <span>A</span>utomated <span>S</span>olutions <span>E</span>nterprise </a> </h6> 
           <h6 ><a href="#">&copy;ASE </a></h6>
        </div>
    </div>
</div>

<script src="assets/js/bootstrap.bundle.js"></script> 
</body>
</html>