<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOT-Messages</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="shortcut icon" href="assets/images/logo.ico" type="image/x-icon">
    
</head>
<body>
    
    <main class="container-fluid">
    <div class="row">
       

        <div id="chat" class="col-12">
          <div class="d-flex flex-column  align-items-center  ">
            
            <div id="chat_header"  class="  d-flex" style="height: 3em;"> 
              <h4 class=" text-capitalize align-self-center"> 
                <i class="fab fa-amazon"></i> amazon Support
              </h4>
             
            </div>
  
            <div id="chat_body" class="mt-3 overflow-auto p-4" >
              
              
              <div class="d-flex flex-column">
                <div class=" d-flex flex-row">
                  <div class="boot-message p-3 text-justify" style="width: 40%;">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum culpa, sequi debitis consectetur doloremque ut amet ducimus nam, possimus et ea repudiandae eum odio excepturi reprehenderit quos, ipsam temporibus molestias!
                    </span>        
                  </div>
                  </div>
                  <span>
                    <small>15:30pm</small>
                  </span>
              </div>

              <div  class="d-flex flex-column">
                <div class="d-flex flex-row-reverse" >
                  <div class="my-message  p-3 text-justify " style="width: 40%;">
                    <span>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum culpa, sequi debitis consectetur doloremque ut amet ducimus nam, possimus et ea repudiandae eum odio excepturi reprehenderit quos, ipsam temporibus molestias!
                    </span> 
                  </div> 
                </div>
                <span class="d-flex flex-row-reverse text-start">
                  <small>15:30pm</small>
                </span>
              </div>
            
          



           

            </div>


            <div id="chat_footer">
              <div class="input-group  p-2">
                <input type="text" class="form-control" placeholder="Please Provide Your Message" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">
                  <i class="far fa-paper-plane"></i>
                </button>
              </div>
             
            </div>
          </div>
        </div>
    </div>
</main>
<div class="container-fluid  ">
    <div class="row pt-2 ">
        <div class="col-12 text-white d-flex justify-content-between  " id='footer'>
            <h6 class="footer_text"> This application is created by <a href="mailto:webmaster@example.com">  <span>A</span>utomated <span>S</span>olutions <span>E</span>nterprise </a> </h6> 
           <h6 ><a href="#">&copy;ASE </a></h6>
        </div>
    </div>
</div>

<script src="assets/js/bootstrap.bundle.js"></script> 
</body>
</html>