.login{
    background-color: #1e2126;   
    color: #fff;
}
.login > .bg {
    
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/layered-waves-haikei.svg');
  }
 section {
    position: relative;
    display: flex;
    flex-direction: row;
  }
 .form-control:focus {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    outline: 0;
    box-shadow: none;
  }
  
 .form-control {
    border: 1px solid #fff !important;
    color: #fff!important;
    background-color: transparent !important;
    outline: 0;
    box-shadow: none;
    border-radius: 25px ;
  }
  .btn-outline-primary {
    color: #0d6efd;
    border-color: #fff;
    border-radius: 25px;
  }

.form-control{
     border-radius: 25px; 
}

h1 > span {
    color: var(--bs-blue);
}
#login_btn{
  width: 10vw;
}

.form-control:focus{
  border-color: #0d6efd !important;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.invalid {
    color:  red;
    font-size: x-small;
    display: none;
}
#login_btn  > span {
    margin-left: 1% ;
    font-weight: bolder;
    
  }
  
  #login_btn  > span:nth-child(1) {
    -webkit-animation: fade-in 1s linear 1.4s infinite forwards;
    animation: fade-in 1s linear 1.4s infinite forwards;
  }
  #login_btn  > span:nth-child(2) {
    -webkit-animation: fade-in 1s linear 0.5s infinite forwards;
    animation: fade-in 1s linear  infinite 0.5s  forwards;
  }
  #login_btn  > span:nth-child(3) {
    -webkit-animation: fade-in 0.6s linear  infinite forwards;
    animation: fade-in 0.6s linear  infinite forwards;
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }